.data-list {
  max-height: 150px;
  overflow: hidden;
  overflow-y: auto;
  z-index: -1;
}

.data-list::-webkit-scrollbar {
  display: none;
}

.container {
  position: relative;
}
.scroll-container {
  top: 0;
  left: 0;
}

.data-list > div {
  height: 30px;
  align-items: center;
}
